[user]
	name = srydell
	email = simonwrydell@gmail.com
	signingkey = CF81E4BB370F2809
[core]
	editor = nvim
	quotepath = false
	commitGraph = true
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
[diff]
	tool = vimdiff
[commit]
	gpgsign = false
[gpg]
	program = gpg
[gc]
	writeCommitGraph = true
[pull]
	rebase = true
