# Ignore everything
/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
**.pyc
**/__pycache__/

.bash/bash_history
.config/configstore/
.config/systemd/
.config/yay/
.tmux/plugins/
.vim/.netrwhist
.vim/pack/

# Except these
# !exampleFile.txt
# !exampleDir/

# Directories
!.bash/
!.config/i3/config
!.config/polybar/
!.config/ranger/
!.config/Scripts/
!.git_template/
!.tmux/tmuxp/
!.vim/

# Files
!.Xmodmap
!.Xresources
!.bash_history
!.bash_profile
!.bashrc
!.config/wallpaper.jpg
!.ctags
!.gitconfig
!.gitignore
!.latemprc
!.latexmkrc
!.taskrc
!.tmux.conf
!.vimrc
!.xinitrc
!.ycm_extra_conf.py
!README.md
