# elixir.snippets - Snippets for elixir file type

snippet mod "A module definition" b
defmodule ${1:Module} do
    ${0:${VISUAL:}}
end
endsnippet

snippet def "A function definition" b
def ${1:f}($2) do
    ${0:${VISUAL:}}
end
endsnippet

snippet defp "A private function definition" b
defp ${1:f}($2) do
    ${0:${VISUAL:}}
end
endsnippet
