# text.snippets - Snippets for text file type

snippet _conanfile "A simple conanfile txt skeleton" b
[requires]
${1:Catch2/2.9.1@catchorg/stable}
${2:google-benchmark/1.4.1@mpusz/stable}
${3:fmt/5.2.0@bincrafters/stable}

[generators]
cmake$0
endsnippet
