; vim: filetype=dosini
; .editorconfig

; Make programs looking for .editorconfig stop looking here
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[**.{js,json}]
indent_style = tab
indent_size = 4

[**.css]
indent_style = tab
indent_size = 4

[**.html]
indent_style = tab
indent_size = 4
max_char = 78
brace_style = expand

[**.cmake]
indent_style = space
indent_size = 2

[**.yaml]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 2

[**.vim]
indent_style = space
indent_size = 2

[{,.}vimrc]
indent_style = space
indent_size = 2

[**.{cpp,cc,c,h,hpp}]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.{sh,zsh,zshrc}]
indent_style = tab
indent_size = 4

[*.{groovy,jenkins}]
indent_style = space
indent_size = 4
