# Ignore everything
/*

# Ignore all files named (wherever they are):
.DS_Store
.log

# Except these
# Files
!.gitignore
!.luacheckrc
!filetype.lua
!init.lua
!stylua.toml

# Directories
!after
!autoload
!autoload
!compiler
!ftplugin
!lua
!plugin
!snips
!tools
